.cell {
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  border-radius: 0.25rem;
  &_isSelected {
    background: rgb(28, 116, 193);
    color: white;
  }

  &_isUnavailable {
    color: rgb(167, 54, 54);
  }

  &_isDisabled {
    color: rgb(129, 120, 120);
  }
}
